#login-links {
    display: flex;
    flex-direction: column;
}

.login-link {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 8vh;
    margin-bottom: 4vh;
    background-color: black;
    border: solid 1vw darkolivegreen;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}